model/*.csta
.idea
__pycache__
build
bin
build/lib
.cmake
.DS_Store
python/models/DB.sqlite-shm
python/models/DB.sqlite-wal
python/config.yml
python/facelib/images
python/logs/*.log
python/facelib/index/*.index
python/facelib/*.pkl
python/d.py
