model/*.csta
.idea
__pycache__
build
bin
build/lib
.cmake
.DS_Store
serving/models/DB.sqlite
serving/models/DB.sqlite-shm
serving/models/DB.sqlite-wal
serving/config.yml
serving/facelib/images/*.jpg
serving/logs/*
serving/facelib/index/*.index
serving/facelib/*.pkl
serving/d.py
serving/model/*
serving/lib/*
serving/test/apitest.py
serving/offline
src/pybind/main.cpp
python/faceapi/libs/*
python/faceapi/c_lib_wrap.py
python/.setuptools-cmake-build
python/*.egg-info
python/build
python/dist
python/ttt.py
python/config.yml
serving/run.build
serving/run.dist
serving/run.onefile-build
serving/run.dist.zip