model/*.csta
.idea
__pycache__
build
bin
build/lib
.cmake
.DS_Store
serving/models/DB.sqlite
serving/models/DB.sqlite-shm
serving/models/DB.sqlite-wal
serving/config.yml
serving/facelib/images/*.jpg
serving/logs/*
serving/facelib/index/*.index
serving/facelib/*.pkl
serving/d.py
serving/model/*
serving/lib/*
serving/test/apitest.py
python/faceapi/libs/*